.page__footer {
  background-color: $color-grey-100;
}

.partnership__group {
  background-color: $color-white;
  display: flex;
  align-items: center;
}

.partnership__title {
  font-family: $font-title;
  margin-top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-font-primary;
}

.contacts__logo {
  text-align: center;
  margin-bottom: 32px;
}

.social__list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 22px;
  padding: 22px 0 22px 0;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid $color-grey-200;
  border-bottom: 1px solid $color-grey-200;
}

.partnership__map {
  margin-bottom: 39px;
}
