.footer {

  .partnership__group {
    background-color: $color-white;
    display: flex;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 26px;

    .partnership__title {
      font-family: $font-title;
      color: $color-font-primary;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 0;
    }

    .partnership__adress {
      margin: 0;
    }
  }
}

.contacts {
  background-color: $color-grey-100;
  padding-top: 39px;
  padding-bottom: 22px;

  .contacts__logo {
    margin-bottom: 32px;
    display: block;
    text-align: center;
}

  .contacts__social {
    @include list-reset;

    display: flex;
    justify-content: center;
    border-top: 1px solid $color-grey-200;
    border-bottom: 1px solid $color-grey-200;
    padding-top: 20px;
    padding-bottom: 20px;

    .social__item {
      margin-right: 24px;

      .social__link {
        color: $color-grey-300;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .contacts__logo-academy {
    display: block;
    color: $color-grey-300;
    margin-top: 22px;
  }
}
