.header {
  border-bottom: 1px solid $color-grey-200;
  margin-bottom: 27px;

  .header__toggle {
    display: block;
    width: 24px;
    height: 18px;
    background-image: url("../img/icons/ic-menu-toggle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
