$color-basic-green: #68b738;
$color-basic-grey: #f2f2f2;
$color-special-grey: #cdcdcd;
$color-status-error: #ff8282;

$color-font-primary: #444444;
$color-font-secondary: #000000;

$font-body: "Arial", "Open Sans", "Helvetica Neue", sans-serif;
$font-title: "Oswald", "Open Sans", "Helvetica Neue", sans-serif;

$padding-mobile: 20px;
$min-width: 320px;
$tablet-width: 768px;
$desktop-width: 1260px;
$max-width: 1440px;
