.features {
  margin-bottom: 20px;
}

.features__list {
  @include list-reset;
}

.features__item {
  background-color: $color-basic-grey;
  padding: 30px 20px 23px 20px;
  margin-bottom: 20px;
}

.features__item:last-child {
  margin-bottom: 0;
}

.features__title {
  font-family: $font-title;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $color-font-secondary;
  margin-top: 0;
  margin-bottom: 29px;
}

.features__text {
  margin-top: 0;
  margin-bottom: 23px;
}

.features__btn {
  font-family: $font-title;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-font-secondary;
  text-decoration: none;
}
