.nav-list {
  @include list-reset;

  position: absolute;
  display: none;
  flex-direction: column;
  width: 100%;
  left: 0;
  top: 61px;
  z-index: 1;

  .nav-list__item {
    border-top: 1px solid $color-grey-200;
    text-align: center;
    background-color: $color-white;

    .nav-list__link {
      display: block;
      font-family: $font-title;
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
      text-transform: uppercase;
      color: $color-font-primary;
      padding-top: 22px;
      padding-bottom: 24px;
      transition: all $animation-ease;

      &:hover {
        background-color: $color-grey-100;
      }
    }
  }
}

// Menu toggle class
.nav-list--show {
  display: flex;
}

@media (min-width: $tablet-width) {
  .nav-list {
    display: flex;

    .nav-list__item {
      background-color: transparent;

      .nav-list__link {
        color: $color-font-primary;
        padding-bottom: 8px;

        &:hover {
          background-color: transparent;
          opacity: 0.7;
        }
      }

      .nav-list__link--active {
        border-bottom: 2px solid $color-white;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .nav-list {
    .nav-list__item {
      .nav-list__link {
        color: $color-white;
      }
    }
  }
}
