.promo {
  margin-bottom: 20px;
  font-family: $font-title;
}

.promo__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.promo__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.promo__btn {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}
