.about {
    margin-bottom: 49px;
}

.about__title {
    font-family: $font-title;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 40px;
}

.about__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.about__item {
    margin-bottom: 22px;
}

.about__item:last-child {
    margin-bottom: 0;
}