.results {
    background-color: $color-basic-grey;
    padding: 25px 20px 40px 20px;
    font-family: $font-title;
}

.results__title, .parameters__item-number, .parameters__price, .controls__label {
    font-family: $font-title;
}

.results__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 40px;
}

.results__text {
    margin-top: 0;
    margin-bottom: 20px;
}

.parameters__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 0;
    margin-bottom: 24px;
    padding: 0;
}

.parameters__item-number {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    text-align: center;
    margin-top: 0;
    margin-bottom: 9px;
}

.parameters__item-description {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
}

.parameters__price {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.slider__controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls__label {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
}